html,
body {
    background-color: #f0f2f5
}

.side-bar {
    overflow-y: visible;
    overflow-x: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .article-card {
        max-width: 300px;
    }
}